.home{
    min-height: 100vh;
    background-color: rgb(117, 250, 250);
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.active{
    color: red;
    background-color: rgb(24, 95, 156);
    width: 400px;
    
}
